@model List<OnlineShop.Models.CartItem>
<div class="cart">
    <p>
        <span> <a style="text-decoration: none;" href="/gio-hang"> Giỏ hàng:</a></span><div id="dd" class="wrapper-dropdown-2">
           @Model.Count Sản Phẩm
            <ul class="dropdown">
                <li>you have no items in your Shopping cart</li>
            </ul>
        </div>
    </p>
</div>